* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
}

img {
  max-width: 100%;
}
